.noNotes{
  color:#cccccc;
  display:flex;
  justify-content: center;
  margin-top: 250px;
  height: 100%;
}

.noNotesIco{
  font-size:84px;
  display: block;
}

.noNotesText{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size:20px;
  display: block;
  margin-left: -60px;
  margin-top: 90px;
}

.gridHeader{
  display:flex;
  margin:30px 0;
  justify-content: center;
}

.gridTitle{
  font-style: italic;
  color:#202124;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size:17px;
  margin: 0 50px;
}

.clearRef{
  color:#1a73e8;
  font-family: 'Roboto', sans-serif;
  font-size:17px;
  cursor:pointer;
}
