.noNotes{
  color:#cccccc;
  display:flex;
  justify-content: center;
  margin-top: 250px;
  height: 100%;
}

.noNotesIco{
  font-size:84px;
  display: block;
}

.noNotesText{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size:20px;
  display: block;
  margin-left: -40px;
  margin-top: 90px;
}
