.grid {
  position: relative;
  margin:0px 52px;
}
.item {
  display: block;
  position: absolute;
  width: auto;
  height: auto;
  margin: 8px;
  z-index: 1;
}

.item.muuri-item-hidden {
  z-index: 0;
}
.item.muuri-item-releasing {
  z-index: 2;
}
.item.muuri-item-dragging {
  z-index: 3;
}
.item-content {
  position: relative;
  width:100%;
  height: 100%;
  border-radius: 10px;
}

.item-content:hover{
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.13);
  transition: 0.4s;
}

.item.muuri-item-dragging .item-content {
  box-shadow: 0 15px 21px rgba(0,0,0,0.15), 0 13px 12px rgba(0,0,0,0.17);
  transition: 1s;
}
