.cheapsWrap{
  margin-bottom:5px;
}

.customCheap{
  font-size:11px;
  font-weight: 500;
  color:#3c4043;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: inherit;
  backdrop-filter: brightness(90%);
  max-height: 24px;
}
