

.gridHeader{
  text-transform: uppercase;
  color:#5f6368;
  font-family: 'Montserrat', sans-serif;
  font-size:12px;
  margin:40px 80px 10px;
}

.noNotes{
  color:#cccccc;
  display:flex;
  justify-content: center;

  margin-top: 173px;
  height: 100%;
}

.noNotesIco{
  font-size:84px;
  display: block;
}

.noNotesText{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size:20px;
  display: block;
  margin-left: -70px;
  margin-top: 90px;
}
